$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

.loader-inline {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader-inline div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-inline div:nth-child(1) {
    left: 8px;
    animation: loader-inline1 0.6s infinite;
}
.loader-inline div:nth-child(2) {
    left: 8px;
    animation: loader-inline2 0.6s infinite;
}
.loader-inline div:nth-child(3) {
    left: 32px;
    animation: loader-inline2 0.6s infinite;
}
.loader-inline div:nth-child(4) {
    left: 56px;
    animation: loader-inline3 0.6s infinite;
}
@keyframes loader-inline1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loader-inline3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes loader-inline2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


.loader-dots div {
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
    left: 8px;
    animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
    left: 8px;
    animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
    left: 32px;
    animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
    left: 56px;
    animation: loader-dots3 0.6s infinite;
}
@keyframes loader-dots1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loader-dots3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes loader-dots2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.tooltip .tooltip-text {
    visibility: hidden;
    text-align: center;
    padding: 2px 6px;
    position: absolute;
    z-index: 100;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    padding: 4px 6px;

    &:before{
        content:'';
        display:block;
        width:0;
        height:0;
        position:absolute;

        border-left: 6px solid transparent;
        border-top: 6px solid black;
        border-right: 6px solid transparent;
        bottom:-6px;
    }
}
